<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>

    <add key="log.file" value="c:\temp\log.txt"/>
    <add key="driver.location" value="browserdrivers\resources\iedriver"/>
    <add key="driver.wrapper.class" value="IEDriverHandler"/>
    
  </appSettings>
  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider --><unitTestProvider name="SpecRun" /><plugins>
      <add name="SpecRun" />
    </plugins></specFlow>
</configuration>